@media (min-width: 430px) and (max-width: 840px) {
  body {
    font-size: 1.125rem;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    width: 20%;
    max-width: 200px;
    order: 2;
    margin-bottom: 0;
  }

  nav {
    order: 1;
  }

  .lista {
    flex-direction: row;
    gap: 2rem;

    a {
      font-size: 2rem;
    }
  }

  .marca {
    font-size: 3rem;
  }
}