@use 'variables' as *;
@use 'mixins' as *;

.lista {
  list-style-type: none;
  text-align: center;

  li {
    display: inline;
    margin-right: 3%;

    a {
      color: $color-primary;
      @include responsive-text(1rem, 2rem);
    }
  }
}

